<p>Please log in below or <%= link_to "create a new account", new_renter_path %></p>

<br>
<br>

<%= form_for :session do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %>
<br>
<br>
<%= f.label :password %><br>
<%= f.password_field :password %>
<br>
<br>
<%= f.submit "Log in"%>
<% end %>
<br>
<br>
<%= link_to "Back to all bikes", bikes_path %>
