<h1>Create new renter account:</h1>
<br><br><br>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <p><%= error %></p>
    <% end %>
<% end %>
<%= form_for @renter do |f| %>
    <br>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :age %>
    <%= f.number_field :age %>
    <br>
    <br>
    <%= f.label :shop_id %>
    <%= f.collection_select :shop_id, @shops, :id, :name %>
    <br>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.label "Create an account to start riding now" %> <br>
    <%= f.submit 'Create Account' %>

<% end %>


