<h1>Create new renter account:</h1>
<br><br><br>
<%= form_for @renter do |f| %>
    <br>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :age %>
    <%= f.number_field :age %>
    <br>
    <br>
    <%= f.label :shop %>
    <%= f.collection_select :shop_id, @shops, :id, :name %>
    <br>
    <br>
    <%= f.submit 'Create new renter' %>

<% end %>


