<h1>Create new account:</h1>
<br><br><br>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <p><%= error %></p>
    <% end %>
<% end %>
<%= form_for @renter do |f| %>
    <br>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :age %><br>
    <%= f.number_field :age %>
    <br>
    <br>
    <%= f.label :shop_id %><br>
    <%= f.collection_select :shop_id, @shops, :id, :name %>
    <br>
    <br>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
    <br>
    <br>
    <br>

    <%= f.submit 'Create account to start riding now!' %>

<% end %>


