<h1>Renter Details</h1>
<br>

<h2><%= @renter.name %></h2>
<p>Age: <%= @renter.age %>
<br>Primary Shop: <%= link_to @renter.shop.name, shop_path(@renter.shop) %></p>
<br>
<%= button_to 'Make a new reservation', bikes_path, method: :get %>
<br><br>
<h2>List of Rentals</h2>
<% count = 1 %>
<% @renter.rentals.each do |rental| %>
    <h4>Total rentals: <%= count %></h4>
    Bike model: <%= link_to rental.bike.model, bike_path(rental.bike)%> <br>
    Bike size: <%= rental.bike.size %> <br>
    Bike type: <%= rental.bike.bike_type %> <br><br>
    <%= button_to "Rental Details", rental_path(rental), method: :get %><br>
    <% count += 1 %>
<% end %>



