<h1>Shop Details</h1>
<br>
<br>
<h2><%= @shop.name %></h2>
<br>
<br>
<p><%= @shop.location %>
<br>
<br>
<%= link_to 'Reserve a bike', bikes_path %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href= <%= @shop.website %> > For all additional info please visit: <%= @shop.website %></a>

