<h1>Edit Bike Rental Form</h1>

<%= form_for @rental do |f| %>

    <%= f.label :comment %>
    <%= f.text_area :comment %> <br>

    <%= f.label :rating %>
    <%= f.number_field :rating%> <br>

    <%= f.submit 'Edit Rental' %>

<% end %>