<h1>Bike Rental Details</h1>
<br>
<h2><%= @rental.bike.model %> </h2><br>
<p><%= @rental.renter.name %> <br>
<%= @rental.renter.shop.location%> <br><br>
<% if @rental.comment && @rental.rating %>
    Comment: "<%= @rental.comment %>" <br><br>
    <%= @rental.rating %> Rating
<% end %>
<br>
</p>


<% unless @rental.rating %>
    <%= button_to "Post a Comment & Rating", edit_rental_path(@rental), method: :get %>
<% end %>

<%= button_to "Delete Rental", rental_path(@rental), method: :delete %>
# delete is broken
