<h1>Add a new bike</h1>

<% if flash[:my_errors]%>
  <%flash[:my_errors].each do |error| %>
  <p><% error %></p>
  <%end%>
<%end%>

<br><br>
<%= form_for @bike do |f| %>
  <%= f.label 'Bike model' %><br>
  <%= f.collection_select :to_s, @models, :to_s, :name%><br>
<br><br>
<%= f.label 'Bike size' %><br>
<%= f.collection_select :to_s, @sizes, :to_s, :to_s%><br>
<br><br>
  <%= f.label 'Bike type' %><br>
  <%= f.collection_select :to_s, @bike_types, :to_s, :to_s%><br>
<br><br>
  <%= f.submit "Submit" %>
<% end %>
