<h1> Bike Details </h1>

<br>
<h2><%= "Brand: #{@bike.model}, size: #{@bike.size}"%></h2>
<p><%= "Type: #{@bike.bike_type}" %></p>
<br><br>
<h3>Rating: <%= @bike.average_rating %></h3>
<h2>Placeholder for image?</h2>

# image
# external link to buy this bike model? (stretch)
<br><br><br>

#button to reserve bike
<h4> <%= button_to 'Reserve this bike', rentals_path, method: :post%></h4>

<h4><%= link_to "All bikes", bikes_path %></h4>




