<!DOCTYPE html>
<html>
  <head>
    <title>DayRider</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<style>

ul {
  list-style-type: none;
  margin: 10;
  padding: 10;
  overflow: hidden;
  background-color: 999999;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: right;
  padding: 6px 8px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #778899;
}

.active {
  background-color: 009999;
}
</style>
</head>

<body>

  <ul>
    <li style="float:center"><a class="active" href="">Home</a></li>

    <li><a href="bikes#index">Bikes</a></li>

    <li><a href="shops#index">Shops</a></li>
    <li><a href="owners#index">Owners</a></li>
    <li><a href="renters#index">Renters</a></li>
  </ul>


    <%= yield %>
  </body>
</html>





